# reemplazar env.template por .env y completar los valores correspondientes

PG_HOST=localhost
PG_PORT=5432
PG_DB=smn
PG_USER=postgres
PG_PASSWORD=postgres
PG_SCHEMA=public
PROVINCIA_OBJETIVO=provincia_nombre